* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 16px;
    line-height: 1.5;
    color: #1f2d3d;
}

body {
    background-color: #1f2d3d;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body::after {
    content: "99yuseong©";
    margin-top: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

.banner-wrapper {
    position: relative;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    transition: box-shadow 250ms ease-in, transform 250ms ease-in;
}

.title {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #474747;
}

.desc {
    margin-bottom: 28px;
    font-size: 14px;
    letter-spacing: 0.01em;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #ff8806 0%, #f72ff0 100%);
    min-width: 320px;
    height: 60px;
    bottom: 30px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    transform: translate(5px, -5px);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);
    background: #f72ff0;
}

