/*  font-size  */
.fs-Tiny {
    font-size: 12px;
    line-height: 1.333333333;
}

.fs-Small {
    font-size: 14px;
    line-height: 1.428571429;
}

.fs-Base {
    font-size: 16px;
    line-height: 1.5;
}

.fs-Medium {
    font-size: 18px;
    line-height: 1.555555556;
}

.fs-Large {
    font-size: 20px;
    line-height: 1.6;
}

.fs-H2 {
    font-size: 28px;
    line-height: 1.428571429;
}

.fs-H1 {
    font-size: 34px;
    line-height: 1.411764706;
}

/*  color  */
.text-Dark {
    color: #1F2D3D;
}

.text-Primary {
    color: #3C4858;
}

.text-Secondary {
    color: #8492A6;
}

.text-Tertiary {
    color: #C0CCDA;
}

.text-White {
    color: #ffffff;
}

.text-Success {
    color: #13CE66;
}

.text-Error {
    color: #FF5216;
}

.text-Info {
    color: #009EEB;
}

/*  Font-weight  */

.fw-Light {
    font-weight: 300;
}

.fw-Regular {
    font-weight: 400;
}

.fw-Medium {
    font-weight: 500;
}

.fw-Bold {
    font-weight: 700;
}